.actividades-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.actividades-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.actividad-box {
  width: 300px;
  height: 400px;
  background-color: #003b74;
  border-radius: 8px;
  border-style: groove;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #FBFCF8;
  cursor: pointer;
}

.actividad-box:hover {
  background-color: #0056b3;
  transition-duration: 100ms;
  transform: scale(1.05);
}

.actividad-imagen {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.actividad-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #FBFCF8;
  /*
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 95%;
  */
}

p {
  font-size: 14px;
  margin: 5px 0;
  color: #FBFCF8;
}

.actividad-expandida {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #003b74;
  border-radius: 8px;
  border-style: groove;
  box-shadow: 0px 4px 6px rgba(40, 39, 44, 0.1);
  padding: 15px;
}

.actividad-expandida p {
  font-size: 18px;
}

.actividad-expandida h3 {
  font-size: 24px;
}

.actividad-izquierda {
  width: 50%;
  text-align: left;
}

.boton-volver {
  width: 25px;
  height: 25px;
  margin-top: 2%;
  background-color: #003b74;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.boton-volver::before {
  content: '⇦';
  font-size: 36px;
  color: #FFB500;
  font-weight: bold;
}

.actividad-derecha {
  width: 50%;
  padding: 20px;
  margin-top: -1%;
  overflow-y: auto;
}

.actividad-derecha p{
  text-align: justify;
}

.actividad-derecha h3 {
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

.actividad-imagen-exp {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 3%;
}

.boton-inscribirse {
  width: 80%;
  max-width: 600px;
  padding: 15px;
  margin-top: 4%;
  background-color:#003b74;
  color: #FBFCF8;
  font-size: 18px;  
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.boton-inscribirse:hover {
  background-color: #FBFCF8;
  color: #003b74;
  border: 2px solid #20527E;
  font-weight: bold;
  transition: width 0.5s ease-in-out; 
}

/*Responsive*/
/*Mobile Devices*/
@media only screen and (max-width: 767px) { 
  .actividad-izquierda p{
    font-size: clamp(10px, 12px, 14px);
  }

  .actividad-derecha p{
    font-size: clamp(10px, 12px, 14px);
  }
  
  .actividad-derecha h3 {
    font-size: clamp(10px, 12px, 14px);
  }

}

/* Tablet Devices */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    
}

/* Laptop Devices */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
    
 }

 /* Desktop Devices */
 @media only screen and (min-width: 1440px) {
    
 }