.actividad-expandida {
    display: block;
  }

.boton-cancelar {
    width: 120px;
    height: 50px;
    font-size: 16px;
    border-radius: 0.5rem;
    padding: 10px;
    background-color: #FFB500;
    color: #003b74;
    border: none;
    cursor: pointer;
}

.boton-cancelar:hover {
    background-color: #FFA500;
    font-weight: bold;
}

.boton-guardar {
    width: 120px;
    height: 50px;
    font-size: 16px;
    border-radius: 0.5rem;
    padding: 10px;
    background-color: #228B22;
    color: #FBFCF8;
    border: none;
    cursor: pointer;
}

.boton-guardar:hover {
    background-color: #117F63;
    font-weight: bold;
}

.boton-editar, .boton-borrar {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #FBFCF8;
    transition: color 0.3s ease, transform 0.3s ease;
}

.boton-editar:hover {
    color: #FFB500;
    transform: scale(1.2);
}

.boton-borrar:hover {
    color: #C50000;
    transform: scale(1.2);
}

.form-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    color:#FBFCF8;
}

.form-label input{    
    color:#28272C;
    border: 0 none;
}

.form-input, .form-textarea {
    padding: 10px;
    border-radius: 0.5rem;
    background-color:#FBFCF8;
}

.form-textarea {
    min-height: 150px;
    max-height: 300px;
}

.estado {
    display: flex;
    gap: 25px
}

.estado-actividad {
    color: #FBFCF8;
    gap: 10px;
}

.mensaje-confirmacion {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #28a745;
    color: #FBFCF8;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    z-index: 1000;
}

.actividad-button {
    display: flex;
    gap: 15px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.informacion-actividad {
    display: flex;        
}

strong {
    margin-bottom: 10px;
}

/*Radio Button */
.radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #FBFCF8;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 300px;
    font-size: 14px;
  }
  
  .radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
  }
  
  .radio-inputs .radio input {
    display: none;
  }
  
  .radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgb(51, 65, 84);
    transition: all .15s ease-in-out;
  }
  
  .radio-inputs .radio input:checked + .name {
    background-color: #003b74;
    font-weight: 600;
    color: #FBFCF8;
  }
 
/* Modales */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    width: 40%;
    background: #FBFCF8;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.modal-content h3 {
    color: #003b74;
}

.modal-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;    
    align-items: center;
    gap: 15px;
}

.boton-confirmar {
    width: 120px;
    height: 50px;
    font-size: 16px;
    border-radius: 0.5rem;
    padding: 10px;
    background-color: #C50000;
    color: #FBFCF8;
    border: none;
    cursor: pointer;
}

.boton-confirmar:hover {
    background-color: #c80a0a;
    font-weight: bold;
}
