.notificacion-exito {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #d4edda; /* Color de fondo */
    color: #155724; /* Color del texto */
    padding: 15px 30px; /* Tamaño del padding */
    border: 1px solid #c3e6cb; /* Borde */
    border-radius: 8px; /* Radio del borde */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Sombra */
    z-index: 1000;
    font-size: 16px; /* Tamaño del texto */
    font-weight: bold; /* Texto en negrita */
    display: flex;
    align-items: center;
    gap: 10px;
    animation: fadeInOut 3s ease-in-out; /* Agregar animación */
  }
  
  .notificacion-exito .icono {
    font-size: 20px;
  }
  
  @keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  .agregar-actividad {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
  }
  
  .agregar-actividad h2 {
    color: #003366; /* Color del título */
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #003366; /* Color del texto */
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group input[type="file"] {
    padding: 3px;
  }
  
  button {
    background-color: #003366; /* Color del botón */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #002244; /* Color del botón al pasar el ratón */
  }
  
  /* Estilos para el botón de guardar */
  .boton-guardar {
    width: 120px;
    height: 50px;
    font-size: 16px;
    border-radius: 0.5rem;
    padding: 10px;
    background-color: #228B22;
    color: #FBFCF8;
    border: none;
    cursor: pointer;
  }
  
  .boton-guardar:hover {
    background-color: #117F63;
    font-weight: bold;
  }


  .boton-guardar:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    opacity: 0.6;
  }