
.change-password-background {
    background-color: #f0f0f0;
    height: 100vh;
  }
  
  .change-password-container {
    margin-top: 80px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .change-password-content {
    margin: auto;
    padding: 20px;
    width: 100%;  /* Ajusta este valor para hacerlo más ancho */
    max-width: 600px;  /* Ajusta este valor para limitar el ancho máximo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .email-logo {
    width: 50px;  /* Ajusta el tamaño según tu logo */
    height: 50px;  /* Ajusta el tamaño según tu logo */
    margin-bottom: 20px;
  }
  
  .custom-input {
    width: calc(100%);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .custom-btn {
    width: 48%;
    padding: 10px;
    margin: 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .custom-btn.yellow-btn {
    background-color: #ffc107;
  }
  
  .custom-btn:hover {
    opacity: 0.9;
  }
  