.change-password-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FBFCF8;
}

.change-password-form {
  width: 500px;
  margin: 0 auto;
}

.change-password-content {
  margin: auto;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.email-logo {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.custom-input {
  width: calc(100%);
  padding: 10px;
  margin: 10px 0;
  border: 0;
  border-bottom: 1px;
  border-style: solid;
  border-color:  #ccc;
  border-radius: 4px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.custom-btn {
  width: 48%;
  padding: 10px;
  margin: 0;
  background-color: #20527E;
  color: #FBFCF8;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.custom-btn-save {
  width: 48%;
  padding: 10px;
  margin: 0;
  background-color: #228B22;
  color: #FBFCF8;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.custom-btn.yellow-btn {
  background-color: #ffc107;
}

.custom-btn:hover, .custom-btn-save:hover{
  opacity: 0.9;
}

.icon-pass {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #20527E;
}

/* Estilos responsivos */
@media (max-width: 576px) {
  .change-password-form {
    width: 100%;
    margin: 10px;
  }

  .change-password-container {
    padding: 10px;
  }

}

@media (min-width: 576px) and (max-width: 768px) {
  .change-password-form {
    width: 100%;
    margin: 10px;
  }

}

@media (min-width: 768px) and (max-width: 1400px) {
  
}