.footer {
    padding: 20px;
    background-color: #20527E;
    color: #fff;
    width: 100%; /* Asegurar que el fondo cubra todo el ancho de la pantalla */
    margin: 0; /* Eliminar cualquier margen */
    box-sizing: border-box; /* Incluir el padding y el border dentro del tamaño total */
    height: auto;
  }
  
  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
  }
  
  .footer-column {
    flex: 1;
    min-width: 200px; /* Asegurar un ancho mínimo */
    text-align: center;
  }
  
  .footer-column p, .footer-column span {
    margin: 5px 0;
  }
  
  .footer-logo {
    height: 100px; /* Tamaño más grande para los logos */
    margin: 30px;
  }
  
  .center-text {
    text-align: center;
    flex-basis: 100%; /* Asegurar que ocupe toda la línea */
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .social-icon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
  }
  
  .contact-button {
    background-color: #FFB500;
    color: #20527E;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .contact-button:hover {
    background-color: #E0A600;
  }
  
  .highlight {
    color: #FFB500; /* Color dorado */
  }
  
  .highlight:hover {
    cursor: pointer;
  }

  /* Estilos responsivos */
@media (max-width: 576px) {
  .footer-top img {
    height: 50px;
  }  

  .footer {
    padding: 10px;
    font-size: 0.9rem;
  }

}

@media (min-width: 576px) and (max-width: 768px) {
  .footer-top img {
    height: 50px;
  }  

  .footer {
    padding: 10px;
    font-size: 0.9rem;
  }
  
}

@media (min-width: 768px) and (max-width: 1400px) {
  
}