.footer {
    padding: 20px;
    background-color: #20527E;
    color: #fff;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    height: auto;
  }
  
  .footer-content {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1rem;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
  }
  
  .footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
  }
  
  .footer-column {
    flex: 1;
    min-width: 200px;
    text-align: center;
  }
  
  .footer-column p, .footer-column span {
    margin: 5px 0;
  }
  
  .footer-logo {
    height: 100px;
    margin: 0 30px;
  }
  
  .center-text {
    text-align: center;
    flex-basis: 100%;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .social-icon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
  }
  
  .contact-button {
    background-color: #FFB500;
    color: #20527E;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .contact-button:hover {
    background-color: #FFA500;
  }
  
  .highlight {
    color: #FFB500;
  }
  
  .highlight:hover {
    cursor: pointer;
  }

/*Responsive*/
/*Mobile Devices*/
@media only screen and (max-width: 767px) { 
  .footer-top{
    gap: 5px;
  }  

  .footer-top img {
    height: 50px;
  } 

  .footer {
    padding: 10px;
    font-size: 0.9rem;
  }

  .center-text p{
    font-size: 10px;
  }

  .footer-bottom {
    gap: 5px;
  }

  .footer-column {
    min-width: 100px;
  }
  
  .footer-column p, .footer-column span {
    font-size: 10px;
  }
  
  .footer-logo {
    height: 50px;
  }

  .social-icon {
    width: 15px;
    height: 15px;
    margin: 0 5px;
  }

  .contact-button {
    height: 30px;
    width: auto;
    font-size: 10px;
  }
}


/* Tablet Devices */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .footer-top img {
    height: 50px;
  }  

  .footer {
    padding: 10px;
    font-size: 0.9rem;
  }
}

/* Laptop Devices */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  
}

/* Desktop Devices */
@media only screen and (min-width: 1440px) {
  
}