.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  position: static;  /*Hacer que el encabezado sea estático */
  top: 0;
  left: 0;
  width: 100%;
  /*z-index: 1000;  Asegurar que el encabezado esté por encima de otros elementos */
}

.logo img {
  height: 100px;
  margin-right: 10px;
}

.nav {
  display: flex;
  justify-content: flex-end; /* Alinear a la derecha */
  flex-grow: 1;
  margin-right: 70px;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px;
}

.nav-item {
  cursor: pointer;
  position: relative;
  background-color: #20527E; /* Fondo azul */
  color: #FFB500; /* Texto amarillo */
  padding: 10px 15px;
  border-radius: 5px;  
}

.nav-item:hover {
  background-color: #0056b3; /* Fondo azul más oscuro al pasar el mouse */
}

.dropdown-login {
  display: none;
  position: absolute;
  top: 100%; /* Desplegar hacia abajo */
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.dropdown.open {
  display: block;
}

.dropdown li {
  padding: 10px 15px;
  cursor: pointer;
  background-color: #20527E; /* Fondo azul */
  color: #FFB500; /* Texto amarillo */
  
}

.dropdown li:hover {
  background-color: #0056b3; /* Fondo azul más oscuro al pasar el mouse */
}

/* Estilos responsivos */
@media (max-width: 576px) {
  .header {
    padding: 10px 10px;
  }

  .logo img {
    display: none;
  }  

}

@media (min-width: 576px) and (max-width: 768px) {
  .header {
    padding: 10px 10px;
  }

  .logo img {
    height: 40px;
    margin-right: 0px;
  }

  .nav-list {
    gap: 5px;
  }
  
}

@media (min-width: 768px) and (max-width: 992px) {
  .logo img {
    height: 50px;
    margin-right: 0px;
  }
}