.formulario-inscripcion {
  max-width: 100%;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formulario-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 1%;
  padding: 0;
  padding-right: 20px;
  color: var(--secondary-text-color);
  background-color: #3AB795;
}

.form-main {
  padding-left: 20px;  
  padding-right: 20px; 
  padding-bottom: 20px; 
  padding-top: 0; 
}

.text-center {
  text-align: center;
}

.boton-inscribirse {
  margin-top: 20px;
}

.formulario-inscripcion .form-label {
  color: var(--fourth-text-color);
  display: inline-block;
}

.formulario-inscripcion .form-text {
  display: block; 
  margin-top: -1%;
}

.form-control,
.radio-buttons {
  margin-top: 2%;
  margin-bottom: 2%;
}

.formulario-inscripcion label::after {
  content: " *";
  color: var(--error-text-color);
}

.formulario-inscripcion .form-check label::after {
  content: "";
}

.formulario-inscripcion .form-check{
  color: gray;
}