/* Estilos para el botón bloqueado */
.btn-locked {
    background-color: #c80a0a;
    border-color: #C50000;
    color: #FBFCF8;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: not-allowed!important;
}