.login-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #FBFCF8;
  /* background: linear-gradient(to bottom, #20527E, #021424, #043158); */
  overflow: hidden;
}

.login-container {
  display: flex;  
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 15px;
  border: 1px solid #20527E;
}

.vertical-line {
  height: 85%;
  border-right: 1px solid #20527E;
}

.login-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-img img{
  width: 300px;
  height: auto;
}

/*
.login-background::before,
.login-background::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
}

.login-background::before {
  background-image: url("../img/LUCEM-ASPICIO-IZQ.png");
  bottom: 0;
  left: 0;
}

.login-background::after {
  background-image: url("../img/LUCEM-ASPICIO-DER.png");
  bottom: 0;
  right: 0;
} */

.custom-input {
  display: block;
  outline: none;
  height: 45px;
  width: 85%;
  margin: 2% auto;
  margin-bottom: 6%;
}

.custom-input::-webkit-inner-spin-button,
.custom-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-input:focus {
  border-color: #BBADFF; 
}

.custom-btn {
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #20527E;
  /* Fondo azul */
  color: #FFB500;
  /* Texto amarillo */
}

.custom-btn:hover {
  background-color: #0056b3;
}

.forgot-password {
  font-size: 14px;
  color: #20527E;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

/* Estilos responsivos */
@media (max-width: 576px) {
  .login-container {
    width: 70%!important;
    margin: 5% auto!important;
  }

  .login-img {
    display: none!important;
  }

  .vertical-line {
    display: none!important;
  }
  

}

@media (min-width: 576px) and (max-width: 768px) {
  .login-container {
    width: 80%!important;
    margin: 5% auto!important;
  }
  
  .login-img img{
    width: 150px;
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 1400px) {
  .login-container {
    width: 70%!important;
    margin: 5% auto!important;
  }
}