.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: #f0f0f0;
  position: relative;
}

.section-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  border-radius: 0;
  transition: background-color 0.3s ease-in-out;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section-blue .section-content,
.section-red .section-content {
  font-size: 2.5rem;
  color: #FBFCF8;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  opacity: 0; /* Inicialmente invisible */
  transition: opacity 0.3s ease-in-out;
  z-index: 1; /* Asegurar que el texto esté encima de la imagen */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80%; /* Ancho del cuadro imaginario */
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para mayor legibilidad */
  padding: 20px;
  border-radius: 10px;
}

.section-blue:hover .section-content,
.section-red:hover .section-content {
  opacity: 1; /* Aparecer al pasar el mouse */
}

.section-green .section-content {
  font-size: 2.5rem;
  color: #FBFCF8;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  border-radius: 10px;
}

.section-green:hover .section-content {
  opacity: 1;
}

.animated-content {
  font-size: 2rem;
  color: #FBFCF8;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
}

.section-container:hover .animated-content {
  opacity: 1; /* Aparecer al pasar el mouse */
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  z-index: 2; /* Asegurar que los botones estén encima de las imágenes */
}

.nav-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.prev-button {
  left: 0; /* Todo a la izquierda */
}

.next-button {
  right: 0; /* Todo a la derecha */
}

.section-blue, .section-red, .section-green {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*Barra de Scroll*/
/**Ancho de la barra */
::-webkit-scrollbar {
  width: 10px;
}

/*Color y radio de la barra*/
::-webkit-scrollbar-track {
  background: #FBFCF8;
  border-radius: 50px;
}

/*Color y radio de la barra interna*/
::-webkit-scrollbar-thumb {
  background: #20527E;
  border-radius: 50px;
}

/* Estilos responsivos */
@media (max-width: 576px) {
  .section-blue .section-content,
.section-red .section-content {
  font-size: 1rem!important;
  
}
}

@media (min-width: 576px) and (max-width: 768px) {
  .section-blue .section-content,
  .section-red .section-content {
    font-size: 1.5rem!important;
    
  }

}

@media (min-width: 768px) and (max-width: 1400px) {
  
}